.container-fluid{
  display: block;
  height: 100%;
  padding-left: 75px;
  padding-top: 75px;
}

html, body {
  height: 100%;
}

.full-height {
  height: 100%;
  background-color: rgba(248, 247, 216, 0.7);
}
body{
  background-size: 100%;
}
